.description__button {
  font-family: $roboto;
  color: $white;
  background-color: $nickel;
  font-size: $large;
  padding: .5em 1em;
  border-radius: 90px;
  margin-bottom: 3em;
  font-weight: $light;
}
